* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
}

img {
    width: 100%;
    height: 140vh;  
}


.gradient {
    position: absolute;
    width: 100%;
    height: 2016px;
    box-shadow: 4px -299px 53px 18px rgb(34 60 80 / 70%) inset;
    top: 0;
    left: 0;
}


.backgraund {
    width: 100%;
    height: 1000px;
    background: #c4d4f4;
}

svg {
position: absolute;
top: 2000px;
left: 500px;
}